{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>FLO-IN</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Flo-In Chrome Extension" name="keywords" />
    <meta content="Flo-In Chrome Extension" name="description" />
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- CSS Libraries -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="{% static 'frontend/lib/animate/animate.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'frontend/lib/owlcarousel/assets/owl.carousel.min.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'frontend/css/style.css' %}" rel="stylesheet" />
  </head>

  <body>
    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg navbar-dark fixed-top" style="color: #eee ;">
      <div class="container-fluid" >
        <a href="{% url 'home' %}" class="navbar-brand" style="font-size: 5vh">
          <svg width="48" height="44" viewBox="0 0 51 47" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.67688 6.87561C5.34173 8.59026 1.57173 13.8928 1.5376 21.5609C1.52651 23.96 1.86179 31.1659 7.47968 37.3912C12.0909 42.5007 17.7105 44.1239 20.1265 44.6549C21.3593 44.9259 31.3837 46.956 40.1198 40.3918C45.3512 36.4609 47.4362 31.4646 48.1495 29.4571C48.547 28.3373 51.2259 20.4695 47.5471 12.1269C46.7119 10.2328 45.7513 8.77397 45.0176 7.78495" stroke="white" stroke-width="2.18571" stroke-miterlimit="10"/>
            <path d="M8.37275 6.97467C9.61994 6.97467 10.631 5.98052 10.631 4.75418C10.631 3.52784 9.61994 2.53369 8.37275 2.53369C7.12555 2.53369 6.1145 3.52784 6.1145 4.75418C6.1145 5.98052 7.12555 6.97467 8.37275 6.97467Z" stroke="#149BFC" stroke-width="2.18571" stroke-miterlimit="10"/>
            <path d="M43.5581 8.01239C44.8052 8.01239 45.8163 7.01824 45.8163 5.7919C45.8163 4.56556 44.8052 3.57141 43.5581 3.57141C42.3109 3.57141 41.2998 4.56556 41.2998 5.7919C41.2998 7.01824 42.3109 8.01239 43.5581 8.01239Z" stroke="#149BFC" stroke-width="2.18571" stroke-miterlimit="10"/>
            <path d="M27.6084 4.07816C28.973 4.24655 34.5794 5.09388 38.9278 9.98576C39.774 10.938 43.2739 15.0812 43.3603 21.3685C43.3735 22.349 43.3502 29.5617 37.3888 34.8041C32.6177 39.0002 25.7845 40.4017 20.0979 38.5142C16.2703 37.2435 13.8953 34.7919 12.9175 33.7593C9.59979 30.2551 8.50841 26.4165 8.11841 24.6101" stroke="white" stroke-width="2.18571" stroke-miterlimit="10"/>
            <path d="M7.52906 24.3759C8.66707 24.3759 9.58961 23.4688 9.58961 22.3498C9.58961 21.2308 8.66707 20.3237 7.52906 20.3237C6.39105 20.3237 5.46851 21.2308 5.46851 22.3498C5.46851 23.4688 6.39105 24.3759 7.52906 24.3759Z" stroke="#149BFC" stroke-width="2.18571" stroke-miterlimit="10"/>
            <path d="M25.2332 5.87919C26.3712 5.87919 27.2937 4.97208 27.2937 3.85309C27.2937 2.73411 26.3712 1.827 25.2332 1.827C24.0951 1.827 23.1726 2.73411 23.1726 3.85309C23.1726 4.97208 24.0951 5.87919 25.2332 5.87919Z" stroke="#149BFC" stroke-width="2.18571" stroke-miterlimit="10"/>
            <path d="M16.2977 15.1161C15.6607 15.9269 13.8066 18.5029 13.8628 22.1785C13.8706 22.6688 13.9424 25.1551 15.5365 27.8043C16.1115 28.7588 18.0083 31.8016 21.9578 33.0111C26.3691 34.3618 30.0754 32.4261 30.9963 31.904C31.9321 31.373 34.8061 29.5728 36.1397 25.889C36.291 25.4718 37.6627 21.4904 35.7439 17.3901C35.3565 16.5622 34.9238 15.9199 34.5875 15.4748" stroke="white" stroke-width="2.18571" stroke-miterlimit="10"/>
            <path d="M17.3818 15.1403C18.3272 15.1403 19.0936 14.3867 19.0936 13.4571C19.0936 12.5275 18.3272 11.7739 17.3818 11.7739C16.4363 11.7739 15.6699 12.5275 15.6699 13.4571C15.6699 14.3867 16.4363 15.1403 17.3818 15.1403Z" stroke="#149BFC" stroke-width="2.18571" stroke-miterlimit="10"/>
            <path d="M33.4946 15.6078C34.44 15.6078 35.2064 14.8542 35.2064 13.9246C35.2064 12.9949 34.44 12.2413 33.4946 12.2413C32.5491 12.2413 31.7827 12.9949 31.7827 13.9246C31.7827 14.8542 32.5491 15.6078 33.4946 15.6078Z" stroke="#149BFC" stroke-width="2.18571" stroke-miterlimit="10"/>
            </svg>
            
          <span class="floin" > Flo In</span></a
        >
        <button
          type="button"
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-between"
          id="navbarCollapse"
        >
          <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link active"  href="{% url 'profile' %}">Dash Board</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'savefacedata' %}"
                >Register Face</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'savefacedata' %}#checkface"
                >Check Face</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active"  href="{% url 'savefacedata' %}#setpinmain">Set PIN &nbsp;</a>
            </li>
          

          <li class="nav-item dropdown " >
            <a
              href="{% url 'profile' %}"
              class="nav-link  active dropdown-toggle nvit"
              data-toggle="dropdown"              
              id="profname"
              >{{user.email}}</a
            >
            <div class="dropdown-menu dropdown-menu-right">
              <a href="{% url 'profile' %}" id="usermail" class="dropdown-item " style="display: none;"> </a>
              <a href="{% url 'profile' %}" class="dropdown-item" id="userfield"
                ></a>
              
              <a href="{% url 'reset_password' %}" class="dropdown-item">Change Password</a>
              <a
                class="dropdown-item"
                href="#"
                onclick="$('#signOutBtn').click()"
                class="nav-link"
                >Logout</a
              >
              <form
                style="display: none"
                method="POST"
                action="{% url 'logoutuser' %}"
              >
                {% csrf_token %}
                <button id="signOutBtn" type="submit">
                  <strong>Logout</strong>
                </button>
              </form>
            </div>
            {% else %}
            <li class="nav-item">
              <a href="#about" class="nav-link active" style="padding-top: 20%;">About </a>
            </li>
            <li class="nav-item">
              <a href="#features" class="nav-link active" style="padding-top: 15%;">Features </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'loginuser' %}" class="nav-link"
                ><button class="btn btn-primary signup">Sign up</button></a
              >
            </li>
          </ul>
            {% endif %}
          </li>
        </div>
      </div>
    </div>
    <!-- Nav Bar End -->

    {% block content %} {% endblock %}

    <!-- Footer Start -->
     <!-- <div class="footer wow fadeIn" data-wow-delay="0.3s">
      <div class="container-fluid">
        <div class="container">
          <div class="footer-info">
            <a
              href="https://github.com/STCVIT/Flo-In"
              target="_blank"
              class="footer-logo"
              >FLO<span>-</span>IN</a
            >
          </div>
        </div>
        <div class="container copyright">
          <div class="row">
            <div class="col-md-6">
              <p>
                &copy; <a href="{% url 'home' %}">FLO-IN</a>, All Rights
                Reserved.
              </p>
            </div>
            <div class="col-md-6">
              <p>
                Made with ❤️ by
                <a href="https://github.com/STCVIT" target="_blank">STC-VIT</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>  -->
    <!-- Footer End -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'frontend/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'frontend/lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'frontend/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'frontend/lib/isotope/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'frontend/lib/lightbox/js/lightbox.min.js' %}"></script>

    
    <script src="{% static 'frontend/js/main.js' %}"></script>
    <script>
      $(document).ready(function(){
        var mail=$("#profname").text();
        var newmail= mail.substring(0,mail.indexOf('@') );
        var mail12=newmail.substring(0,12);
        
        $("#profname").text(mail12);
      
      });
      
      
      </script>
  </body>
</html>
