{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'frontend/css/profile.css' %}">

    <div class="alert mailsent ">
        <svg
        width="26"
        height="24"
        viewBox="0 0 26 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <ellipse cx="12.6542" cy="12" rx="12.6009" ry="12" fill="#149BFC" />
        <rect
          width="3.06113"
          height="15.3695"
          rx="1"
          transform="matrix(0.651691 0.758484 -0.788806 0.614642 19.9697 6)"
          fill="white"
        />
        <rect
          width="3.08898"
          height="6.65707"
          rx="1"
          transform="matrix(0.780936 -0.624612 0.661447 0.749992 5.30371 12.9297)"
          fill="white"
        />
      </svg>
        An email has been sent with instructions to reset password</div>
{% endblock %}
