{% extends "base.html" %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'frontend/css/profile.css' %}" />
<div class="container resetpass">
  <h1 class="rpas">Reset Password</h1>
  <div class="row justify-content-center align-items-center rpasbox">
    <div class="col-auto resetbox">
      {% if form.errors %}
      <p class="bg-danger p-2">New password criteria failed !</p>
      {% endif %}
      <form method="post" action="" style="align-items: center">
        {% csrf_token %}
        <input type="hidden" />
        <p>
          <label for="new_password1">New password </label>
          <input
            type="password"
            name="new_password1"
            autocomplete="new-password"
            required=""
            id="id_new_password1"
            class="inp"
          />
        </p>

        <p>
          <label for="new_password2">Confirm password </label>
          <input
            type="password"
            name="new_password2"
            autocomplete="new-password"
            required=""
            id="id_new_password2"
            class="inp"
          />
        </p>

        <input type="hidden" name="next" value="" />
        <div>
          <p class="cri">Your password must contain at least 8 characters.</p>
          <p class="cri">Your password can't be entirely numeric.</p>
          <p class="cri">
            Your password should contain atleast one special character
          </p>
        </div>
        <button class="btn btn-primary rpassb" type="submit" value="Submit">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
