{% extends 'base.html' %} {% load static %} {% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link href="{% static 'frontend/pass.css' %}" rel="stylesheet" />
<div class="login">
  <h2 style="background-color: #000000; margin: 0; color: #eee">
    Store Your Password
  </h2>
  <form
    method="post"
    autocomplete="off"
    id="form1"
    style="background-color: #333333"
  >
    {% csrf_token %}
    <p>
      <input
        type="password"
        name="password"
        value=""
        placeholder="Enter PIN"
        id="userInput"
        maxlength="4"
      />
    </p>

    <button type="submit" onclick="pincode()" class="btn btn-primary sbbtn">
      Submit
    </button>
    <!-- <input type="submit" name="commit" value="Submit" onclick="pincode()" /> -->
  </form>
</div>

<script src="{% static 'frontend/pin-login.js' %}/"></script>

{% endblock %}
