{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'frontend/css/profile.css' %}" />

<div class="d-flex flex-column" style="margin-top: 250px; margin-bottom: 250px">
  <p
    style="
      background-color: #313131 !important;
      border-color: #313131 !important;
      width: 100%;
      margin-left: 35%;
      height: 1vh;

      height: 50px;
      color: #eee;
      top: 50%;
      left: 70%;
    "
  >
    Your password has been reset. You may go ahead and
    <a href="{% url 'loginuser' %}">login</a> now.
  </p>
</div>

{% endblock %}
