{% extends "base.html" %} {% load static %} {% block content %}

<link rel="stylesheet" href="{% static 'frontend/css/profile.css' %}" />

<div class="row justify-content-center mt-7">
  <div class="col-md-5">
    <br /><br /><br /><br />
    <h2 style="color: aliceblue">Password Reset</h2>
  </div>
</div>
<div class="row justify-content-center mt-5" style="margin-bottom: 120px">
  <div class="col-md-5">
    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control" id="email" />
      </div>
      <button type="submit" class="btn btn-primary">
        Request Password Reset
      </button>
    </form>
    <hr />
  </div>
</div>
{% endblock %}
