{% extends 'base.html' %} {% load static %} {% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link href="{% static 'frontend/pass.css' %}" rel="stylesheet" />
<div class="login" style="border-color: #181818; margin-top: 10%">
  <h3
    style="
      background-color: #000000;
      margin: 0;
      color: #eee;
      padding: 5%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    "
  >
    Store Your Password
  </h3>
  <form
    method="post"
    autocomplete="off"
    id="form1"
    style="
      background-color: #333;
      padding: 2%;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    "
  >
    {% csrf_token %}
    <p>
      <input
        type="password"
        name="password"
        value=""
        placeholder="Enter PIN"
        id="userInput"
        maxlength="4"
        style="background-color: #333; color: #fff; border-color: #007bff"
      />
    </p>

    <button
      type="submit"
      onclick="pincode()"
      class="btn btn-primary sbbtn"
      style="margin-left: 38%"
    >
      Submit
    </button>
    <!-- <input type="submit" name="commit" value="Submit" onclick="pincode()" /> -->
  </form>
</div>

<script src="{% static 'frontend/pin-login.js' %}/"></script>

{% endblock %}
