{% extends "base.html" %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'frontend/css/profile.css' %}" />
<div class="container resetpass">
  <h1 class="rpas">Reset Password</h1>
  <div
    class="row justify-content-center align-items-center"
    style="height: 80vh; margin: 0"
  >
    <div
      class="col-auto"
      style="
        background-color: #333;
        border-color: #333;
        color: #eee;
        border-radius: 1em;
        padding: 5%;
      "
    >
      {% if form.errors %}
      <p class="bg-danger p-2">New password criteria failed !</p>
      {% endif %}
      <form method="post" action="" style="align-items: center">
        {% csrf_token %}
        <input type="hidden" />
        <p>
          <label for="new_password1">New password </label>
          <input
            type="password"
            name="new_password1"
            autocomplete="new-password"
            required=""
            id="id_new_password1"
            class="inp"
          />
        </p>

        <p>
          <label for="new_password2">Confirm password </label>
          <input
            type="password"
            name="new_password2"
            autocomplete="new-password"
            required=""
            id="id_new_password2"
            class="inp"
          />
        </p>

        <input type="hidden" name="next" value="" />
        <div>
          <p>Your password must contain at least 8 characters.</p>
          <p>Your password can't be entirely numeric.</p>
        </div>
        <button class="btn btn-primary " style="margin-left: 38%; margin-top: 5%;" type="submit" value="Submit">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
