{% extends 'base.html' %} {% load static %} {% block content %}

<link rel="stylesheet" href="{% static 'frontend/profile.css' %}" />
<div class="hero">
  <h1 class="dsh">Dashboard</h1>
  <ul class="responsive-table">
    <input
      class="form-control mb-2 srch"
      id="myInput"
      type="text"
      placeholder="Search.."
    />
    <div style="background-color: #262828; border-radius: 1em; padding-bottom: 2%;" >
    <li class="table-header" style="text-align: center; color: #eee;">
      <div class="col col-22">Website URL</div>
      <div class="col col-33">Email Id/ Username</div>
      <div class="col col-44">Password</div>
    </li>

  
    {% for data in datas %}
    <li
      class="table-row"
      style="
        background-color: #393939;
        margin: 1.5%;
        color: #eee;
        text-align: center;
        border-radius: 0.5em;
      "
    >
      <div class="col col-22" data-label="Website URL">{{data.url}}</div>
      <div class="col col-33" data-label="Email ID">{{ data.username }}</div>
      
      <!-- <div class="col col-4" data-label="Payment Status">{{ data.password }}</div> -->
      <div class="col col-44" id="{{data.username}}">
        <span id="blur">******</span>
        <button
          class="eye"
          style="vertical-align: middle;background-color: transparent;
          border-color: transparent;
          color: #eee;
          position: absolute;
          align-self: flex-end;
          margin-left: 37%;
          "
          
          onclick="showPassword('{{data.username}}', '{{data.url}}','{{data.password}}')"
        >
          <span><i class="fa">&#xf06e;</i></span>
        </button>
      </div> 
      <div class="col col-44" style="display: none;"id="{{data.url}}" ></div>
    </li>
    {% endfor %}
    <script>
      function showPassword(username, url, password) {
        console.log(username, url);
        document.getElementById(url).innerHTML = password;
        document.getElementById(url).style.display = "block";
        document.getElementById(username).style.display = "none";
      }
    </script>
  </ul>
</div>
</div>
<script>
  $(document).ready(function () {
    $("#myInput").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $(".table-row").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
      });
    });
  });
</script>
{% endblock %}
