{% extends 'base.html' %} {% load static %} {% block content %}

<link rel="stylesheet" href="{% static 'frontend/css/profile.css' %}" />
<div class="hero">
  <h1 class="dsh">Dashboard</h1>
  <ul class="responsive-table">
    <input
      class="form-control mb-2 srch"
      id="myInput"
      type="text"
      placeholder="Search.."
    />
    <div class="tbhead"  >
    <li class="table-header" style="text-align: center; color: #eee;">
      <div class="col col-22">Website URL</div>
      <div class="col col-33">Email Id/ Username</div>
      <div class="col col-44">Password</div>
    </li>

    <div class="tabledata">
    {% for data in datas %}
    <li
      class="table-row"
     
    >
      <div class="col col-22" data-label="Website URL">{{data.url}}</div>
      <div class="col col-33" data-label="Email ID">{{ data.username }}</div>
      
      <!-- <div class="col col-4" data-label="Payment Status">{{ data.password }}</div> -->
      <div class="col col-44" >
        <span id="{{data.username}}">******</span>
        <!-- <div  id="{{data.url}}" ></div> -->
        
        <button
          class="eye"         
          onclick="showPassword('{{data.username}}', '{{data.url}}','{{data.password}}')"
        >
          <span id="eyebt"><i class="fa">&#xf06e;</i></span>
        </button>
      </div> 
      
    </li>
    </div>
    {% endfor %}
    <script>
      var rw=document.getElementsByClassName("table-row");
      if (rw.length===0){
        document.getElementsByClassName("tabledata")[0].innerHTML='<p class="nodata">You have not saved any passwords yet!</p>';
      }
      function showPassword(username, url, password) {
        console.log(username, url);
        var span=document.getElementById("eyebt")
        if(document.getElementById(username).innerHTML==="******"){
          document.getElementById(username).innerHTML=password;
          span.innerHTML = '<i style="color: #eee" id="eyebt" class="fa">&#xf070;</i></span>';
        }
        else{
          document.getElementById(username).innerHTML="******";
          span.innerHTML = '<i style="color: #eee" id="eyebt" class="fa">&#xf06e;</i></span>';
        }
      }
    </script>
  </ul>
</div>
</div>
<script>
  $(document).ready(function () {
    $("#myInput").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $(".table-row").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
      });
    });
  });
</script>
{% endblock %}
