{% extends 'base.html' %} {% load static %} {% block content %}

<style>
  body {
    background-image: url("{% static 'frontend/imgs/key.png' %}");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position-x: right;
  }
</style>

<link rel="stylesheet" href="{% static 'frontend/css/cam.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div
  class="hero"
  style="padding-bottom: 6%; background-color: transparent !important"
>
  <h1
    style="
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
      letter-spacing: 3px !important;
      font-family: 'Inter', sans-serif !important;
      margin-top: 5%;
      margin-left: 5%;
      color: #eee;
    "
  >
    Register face
  </h1>
  <div class="bttn">
    {{error}}

    <div class="instr" style="padding-top: 3%">
      <h2 style="color: #149bfc">Instructions:</h2>
      <p style="color: #eee">
        1. Sit in a Well-Lit Area<br />
        2. Face Towards the Camera<br />
        3. Click on Start Recording<br />
        4. Wait for The Timer to Complete<br />
        5. Proceed to Check Face
      </p>
    </div>
    <center>
      <div id="container">
        <video autoplay="true" id="video"></video>
      </div>
    </center>
    <div id="app"></div>
  </div>
  <center>
    <form id="myForm" method="POST" enctype="multipart/form-data" class="mb-5">
      {% csrf_token %}
      <div>
        <button class="btn btn-primary" id="record" type="button">
          Start Recording
        </button>
        <!-- <button class="btn" id="stop" type="button">Stop Recording</button> -->
      </div>
    </form>
  </center>
  <div
    id="alert_save_face"
    class="alert alert-success"
    role="alert"
    style="
      background-color: #313131;
      border-color: #313131;
      width: 50%;
      margin-left: 27%;
      height: 2vh;
      margin-top: 5%;
      height: 50px;
      color: #eee;
      display: none;
    "
  >
    <svg
      width="26"
      height="24"
      viewBox="0 0 26 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <ellipse cx="12.6542" cy="12" rx="12.6009" ry="12" fill="#149BFC" />
      <rect
        width="3.06113"
        height="15.3695"
        rx="1"
        transform="matrix(0.651691 0.758484 -0.788806 0.614642 19.9697 6)"
        fill="white"
      />
      <rect
        width="3.08898"
        height="6.65707"
        rx="1"
        transform="matrix(0.780936 -0.624612 0.661447 0.749992 5.30371 12.9297)"
        fill="white"
      />
    </svg>
  </div>
  <div
    class="alert alert-danger"
    id="alert_save_face_not"
    role="alert"
    style="
      background-color: #313131;
      border-color: #313131;
      width: 50%;
      margin-left: 27%;
      height: 2vh;
      margin-top: 5%;
      height: 50px;
      color: #eee;
      display: none;
    "
  >
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle cx="12" cy="12" r="12" fill="#FF4040" />
      <rect x="10.5" y="3" width="3" height="13.5" rx="1" fill="white" />
      <rect x="10.5" y="18" width="3" height="3" rx="1.5" fill="white" />
    </svg>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="{% static 'frontend/js/clock.js' %}"></script>
<script src="{% static 'frontend/js/saveface.js' %}"></script>

<link rel="stylesheet" href="{% static 'frontend/css/checkfacedata.css' %}" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div id="checkface">
  <div class="play-area">
    <h1
      class="checkfacehead"
      style="margin-bottom: 0; color: #eee; margin-left: 5%"
    >
      Check face
    </h1>
    <p style="width: 60%; color: #eee; margin-top: 3%; margin-left: 5%">
      You may now check the registeration of your face to ensure that your
      biometrics have been correctly recorded,minimizing the amount of errors
      you may face in the future due to poor lighting
    </p>

    <div class="row">
      <div class="col-md play-area-sub" style="margin-left: 7%">
        <!-- {{ user.email }} -->
        <h3 style="margin-right: 17%">The Stream</h3>
        <div id="container">
          <video id="video2" width="500"></video>
        </div>
        <form
          id="myForm"
          method="POST"
          enctype="multipart/form-data"
          class="mb-5"
          style="margin-left: 28%"
          action="checkfacedata/"
        >
          {% csrf_token %}
          <div>
            <button class="btn btn-primary" type="button" id="startbutton">
              Capture
            </button>
            <div
              id="alert_save_face"
              class="alert alert-success"
              role="alert"
              style="
                background-color: #313131;
                border-color: #313131;
                width: 110%;
                margin-left: 35%;
                height: 2vh;
                margin-top: 10%;
                height: 50px;
                color: #eee;
                display: none;
              "
            >
              <svg
                width="26"
                height="24"
                viewBox="0 0 26 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <ellipse
                  cx="12.6542"
                  cy="12"
                  rx="12.6009"
                  ry="12"
                  fill="#149BFC"
                />
                <rect
                  width="3.06113"
                  height="15.3695"
                  rx="1"
                  transform="matrix(0.651691 0.758484 -0.788806 0.614642 19.9697 6)"
                  fill="white"
                />
                <rect
                  width="3.08898"
                  height="6.65707"
                  rx="1"
                  transform="matrix(0.780936 -0.624612 0.661447 0.749992 5.30371 12.9297)"
                  fill="white"
                />
              </svg>
            </div>
            <div
              class="alert alert-danger"
              id="showResult"
              role="alert"
              style="
                background-color: #313131;
                border-color: #313131;
                width: 110%;
                margin-left: 35%;
                height: 2vh;
                margin-top: 10%;
                height: 50px;
                color: #eee;
                display: none;
              "
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="12" cy="12" r="12" fill="#FF4040" />
                <rect
                  x="10.5"
                  y="3"
                  width="3"
                  height="13.5"
                  rx="1"
                  fill="white"
                />
                <rect
                  x="10.5"
                  y="18"
                  width="3"
                  height="3"
                  rx="1.5"
                  fill="white"
                />
              </svg>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md play-area-sub">
        <h3 style="margin-right: 17%">The Capture</h3>
        <div id="container">
          <canvas id="canvas"></canvas>
          <form method="POST" id="myForm">{% csrf_token %}</form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'frontend/js/checkface.js' %}"></script>

<link href="{% static 'frontend/css/pass.css' %}" rel="stylesheet" />
<div>
  <h1
    class="setpin"
    id="setpinmain"
    style="
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
      letter-spacing: 3px !important;
      font-family: 'Inter', sans-serif !important;
      margin-top: 5%;
      margin-left: 5%;
      color: #eee;
    "
  >
    Set Pin
  </h1>
  <p
    class="setpinp"
    style="color: #eee; margin-top: 2%; margin-left: 5%; width: 60%"
  >
    Logging-In with Pin is also be another easy and quick option that FLO-IN
    provides you with. Enter a Pin for easy access to websites using Pin
    Protection.
  </p>
  <div
    class="login"
    style="border-color: #181818; margin-top: 7%; border-radius: 1.5em"
  >
    <h5
      style="
        background-color: #000000;
        margin: 0;
        color: #eee;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 6%;
        text-align: center;
      "
    >
      Store your PIN
    </h5>
    <form
      autocomplete="off"
      id="PINform"
      style="
        background-color: #333;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      "
    >
      {% csrf_token %}
      <div
        class="alert alert-danger"
        id="showPINSuccessResult"
        role="alert"
        style="
          background-color: #313131;
          border-color: #313131;
          width: 110%;
          margin-left: 35%;
          height: 2vh;
          margin-top: 10%;
          height: 50px;
          color: #eee;
          display: none;
        "
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="12" cy="12" r="12" fill="#FF4040" />
          <rect x="10.5" y="3" width="3" height="13.5" rx="1" fill="white" />
          <rect x="10.5" y="18" width="3" height="3" rx="1.5" fill="white" />
        </svg>
      </div>
      <div
        id="showPINFailResult"
        class="alert alert-success"
        role="alert"
        style="
          background-color: #313131;
          border-color: #313131;
          width: 110%;
          margin-left: 35%;
          height: 2vh;
          margin-top: 10%;
          height: 50px;
          color: #eee;
          display: none;
        "
      >
        <svg
          width="26"
          height="24"
          viewBox="0 0 26 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <ellipse cx="12.6542" cy="12" rx="12.6009" ry="12" fill="#149BFC" />
          <rect
            width="3.06113"
            height="15.3695"
            rx="1"
            transform="matrix(0.651691 0.758484 -0.788806 0.614642 19.9697 6)"
            fill="white"
          />
          <rect
            width="3.08898"
            height="6.65707"
            rx="1"
            transform="matrix(0.780936 -0.624612 0.661447 0.749992 5.30371 12.9297)"
            fill="white"
          />
        </svg>
      </div>
      <input
        type="password"
        name="userInput"
        placeholder="Enter PIN"
        id="userInput"
        maxlength="4"
        style="background-color: #333; color: #fff; border-color: #007bff"
      /><button
        type="button"
        onclick="showPassword()"
        id="showpass"
        style="background-color: transparent; border-color: transparent"
      >
        <!-- <i id="eyeb" class="showpass fa fa-fw fa-eye-slash"></i> -->
        <i style="color: #eee" id="eyeb" class="fa">&#xf070;</i>
      </button>
      <span style="position: absolute; right: 8%; top: 35%"> </span>

      <p>
        <input
          type="password"
          name="userInput2"
          value=""
          placeholder="Confirm PIN"
          id="userInput2"
          maxlength="4"
          style="background-color: #333; color: #fff; border-color: #007bff"
        />
      </p>
      <span id="Message"></span>
      <button
        type="button"
        onclick="pincode()"
        class="btn btn-primary"
        style="width: 30%; font-size: revert; margin-left: 35%"
      >
        Confirm
      </button>
    </form>
  </div>
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
  $('#userInput, #userInput2').on('keyup', function () {
        if ($('#userInput').val() == $('#userInput2').val()) {
            $('#message').html('').css('color', '#eee');
        } else
            $('#message').html('pins do not match! ').css('color', '#eee');
    });
</script> -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script></script>
  <script src="{% static 'frontend/pin-login.js' %}"></script>
</div>
{%endblock%}
