{% extends 'base.html' %} {% load static %} {% block content %}

<style>
  body {
    background-image: url("{% static 'frontend/imgs/key.png' %}");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position-x: right;
  }
</style>

<link rel="stylesheet" href="{% static 'frontend/css/cam.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div
  class="hero"
  style="padding-bottom: 6%; background-color: transparent !important"
>
  <h1
    style="
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
      letter-spacing: 3px !important;
      font-family: 'Inter', sans-serif !important;
      margin-top: 5%;
      margin-left: 5%;
      color: #eee;
    "
  >
    Register face
  </h1>
  <div class="bttn">
    {{error}}

    <div class="instr" style="padding-top: 3%">
      <h2 style="color: #149bfc">Instructions:</h2>
      <p style="color: #eee">
        1. Sit in a Well-Lit Area<br />
        2. Face Towards the Camera<br />
        3. Click on Start Recording<br />
        4. Wait for The Timer to Complete<br />
        5. Proceed to Check Face
      </p>
    </div>
    <center>
      <div id="container">
        <video autoplay="true" id="video"></video>
      </div>
    </center>
    <div id="app"></div>
  </div>
  <center>
    <form id="myForm" method="POST" enctype="multipart/form-data" class="mb-5">
      {% csrf_token %}
      <div>
        <button class="btn btn-primary" id="record" type="button">
          Start Recording
        </button>
        <!-- <button class="btn" id="stop" type="button">Stop Recording</button> -->
      </div>
    </form>
  </center>
  <div
    id="alert_save_face"
    class="alert alert-success"
    role="alert"
    style="
      background-color: #313131;
      border-color: #313131;
      width: 50%;
      margin-left: 27%;
      height: 2vh;
      margin-top: 5%;
      height: 50px;
      color: #eee;
      display: none;
    "
  >
    <svg
      width="26"
      height="24"
      viewBox="0 0 26 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <ellipse cx="12.6542" cy="12" rx="12.6009" ry="12" fill="#149BFC" />
      <rect
        width="3.06113"
        height="15.3695"
        rx="1"
        transform="matrix(0.651691 0.758484 -0.788806 0.614642 19.9697 6)"
        fill="white"
      />
      <rect
        width="3.08898"
        height="6.65707"
        rx="1"
        transform="matrix(0.780936 -0.624612 0.661447 0.749992 5.30371 12.9297)"
        fill="white"
      />
    </svg>
  </div>
  <div
    class="alert alert-danger"
    id="alert_save_face_not"
    role="alert"
    style="
      background-color: #313131;
      border-color: #313131;
      width: 50%;
      margin-left: 27%;
      height: 2vh;
      margin-top: 5%;
      height: 50px;
      color: #eee;
      display: none;
    "
  >
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle cx="12" cy="12" r="12" fill="#FF4040" />
      <rect x="10.5" y="3" width="3" height="13.5" rx="1" fill="white" />
      <rect x="10.5" y="18" width="3" height="3" rx="1.5" fill="white" />
    </svg>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="{% static 'frontend/js/clock.js'"></script>
<script>
  const FULL_DASH_ARRAY = 283;
  const WARNING_THRESHOLD = 4;
  const ALERT_THRESHOLD = 2;
  let stopRec;

  const record = document.getElementById("record");
  const stop = document.getElementById("stop");
  const form = document.getElementById("myForm");

  if (!navigator.mediaDevices) {
    alert("getUserMedia support required to use this page");
  }

  const chunks = [];
  let onDataAvailable = (e) => {
    chunks.push(e.data);
  };

  // Not showing vendor prefixes.
  navigator.mediaDevices
    .getUserMedia({
      audio: false,
      video: true,
    })
    .then((mediaStream) => {
      const recorder = new MediaRecorder(mediaStream);
      recorder.ondataavailable = onDataAvailable;
      const video = document.querySelector("video");
      video.srcObject = mediaStream;
      record.onclick = () => {
        recorder.start();
        console.log(recorder.state);
        startTimer();
        console.log("recorder started");
      };

      stopRec = () => {
        recorder.stop();
        console.log(recorder.state);
        console.log("recorder stopped");
      };

      video.onloadedmetadata = (e) => {
        console.log("onloadedmetadata", e);
      };

      recorder.onstop = (e) => {
        console.log("e", e);
        console.log("chunks", chunks);
        const bigVideoBlob = new Blob(chunks, {
          type: "video/mp4",
          codecs: "avc1.42001E, mp4a.40.2",
        });
        var file = new File([bigVideoBlob], "{{ user.id|safe }}.mp4", {
          type: "video/mp4",
          codecs: "avc1.42001E, mp4a.40.2",
          lastModified: Date.now(),
        });

        let fd = new FormData(form);
        fd.append("data", file);
        fetch("/facedata/", {
          method: "POST",
          body: fd,
        })
          .then((res) => res.json())
          .then((res) => {
            console.log(res);
            let save = document.getElementById("alert_save_face");
            let not_save = document.getElementById("alert_save_face_not");
            if (res.Success == true) {
              save.style = "display:block;";
              save.innerHTML = res.Message;
              not_save.style = "display:none;";
            } else {
              not_save.style = "display:block;";
              not_save.innerHTML = res.Message;
              save.style = "display:none;";
            }
            console.log("fetching done");
            // window.location.reload();
          });
      };
    })
    .catch(function (err) {
      console.log("error", err);
    });

  const COLOR_CODES = {
    info: {
      color: "green",
    },
    warning: {
      color: "orange",
      threshold: WARNING_THRESHOLD,
    },
    alert: {
      color: "red",
      threshold: ALERT_THRESHOLD,
    },
  };

  let TIME_LIMIT = 3;
  let timePassed = 0;
  let timeLeft = TIME_LIMIT;
  let timerInterval = null;
  let remainingPathColor = COLOR_CODES.info.color;

  document.getElementById("app").innerHTML = `
  <div class="base-timer">
    <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
      <g class="base-timer__circle">
        <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45"></circle>
        <path
          id="base-timer-path-remaining"
          stroke-dasharray="283"
          class="base-timer__path-remaining ${remainingPathColor}"
          d="
            M 50, 50
            m -45, 0
            a 45,45 0 1,0 90,0
            a 45,45 0 1,0 -90,0
          "
        ></path>
      </g>
    </svg>
    <span id="base-timer-label" class="base-timer__label">${formatTime(
      timeLeft
    )}</span>
  </div>
  `;

  function onTimesUp() {
    stopRec();
    clearInterval(timerInterval);
    TIME_LIMIT = 3;
    timePassed = 0;
    timeLeft = TIME_LIMIT;
    timerInterval = null;
    remainingPathColor = COLOR_CODES.info.color;
    document.getElementById("app").innerHTML = `
  <div class="base-timer">
    <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
      <g class="base-timer__circle">
        <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45"></circle>
        <path
          id="base-timer-path-remaining"
          stroke-dasharray="283"
          class="base-timer__path-remaining ${remainingPathColor}"
          d="
            M 50, 50
            m -45, 0
            a 45,45 0 1,0 90,0
            a 45,45 0 1,0 -90,0
          "
        ></path>
      </g>
    </svg>
    <span id="base-timer-label" class="base-timer__label">${formatTime(
      timeLeft
    )}</span>
  </div>
  `;
  }

  function startTimer() {
    timerInterval = setInterval(() => {
      timePassed = timePassed += 1;
      timeLeft = TIME_LIMIT - timePassed;
      document.getElementById("base-timer-label").innerHTML =
        formatTime(timeLeft);
      setCircleDasharray();
      setRemainingPathColor(timeLeft);

      if (timeLeft === 0) {
        onTimesUp();
      }
    }, 1000);
  }

  function formatTime(time) {
    const minutes = Math.floor(time / 60);
    let seconds = time % 60;

    if (seconds < 10) {
      seconds = `0${seconds}`;
    }

    return `${minutes}:${seconds}`;
  }

  function setRemainingPathColor(timeLeft) {
    const { alert, warning, info } = COLOR_CODES;
    if (timeLeft <= alert.threshold) {
      document
        .getElementById("base-timer-path-remaining")
        .classList.remove(warning.color);
      document
        .getElementById("base-timer-path-remaining")
        .classList.add(alert.color);
    } else if (timeLeft <= warning.threshold) {
      document
        .getElementById("base-timer-path-remaining")
        .classList.remove(info.color);
      document
        .getElementById("base-timer-path-remaining")
        .classList.add(warning.color);
    }
  }

  function calculateTimeFraction() {
    const rawTimeFraction = timeLeft / TIME_LIMIT;
    return rawTimeFraction - (1 / TIME_LIMIT) * (1 - rawTimeFraction);
  }

  function setCircleDasharray() {
    const circleDasharray = `${(
      calculateTimeFraction() * FULL_DASH_ARRAY
    ).toFixed(0)} 283`;
    document
      .getElementById("base-timer-path-remaining")
      .setAttribute("stroke-dasharray", circleDasharray);
  }
</script>

<link rel="stylesheet" href="{% static 'frontend/css/checkfacedata.css' %}" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div id="checkface">
  <div class="play-area">
    <h1
      class="checkfacehead"
      style="margin-bottom: 0; color: #eee; margin-left: 5%"
    >
      Check face
    </h1>
    <p style="width: 60%; color: #eee; margin-top: 3%; margin-left: 5%">
      You may now check the registeration of your face to ensure that your
      biometrics have been correctly recorded,minimizing the amount of errors
      you may face in the future due to poor lighting
    </p>

    <div class="row">
      <div class="col-md play-area-sub" style="margin-left: 7%">
        <!-- {{ user.email }} -->
        <h3 style="margin-right: 17%">The Stream</h3>
        <div id="container">
          <video id="video2" width="500"></video>
        </div>
        <form
          id="myForm"
          method="POST"
          enctype="multipart/form-data"
          class="mb-5"
          style="margin-left: 28%"
          action="checkfacedata/"
        >
          {% csrf_token %}
          <div>
            <button class="btn btn-primary" type="button" id="startbutton">
              Capture
            </button>
            <div
              id="alert_save_face"
              class="alert alert-success"
              role="alert"
              style="
                background-color: #313131;
                border-color: #313131;
                width: 110%;
                margin-left: 35%;
                height: 2vh;
                margin-top: 10%;
                height: 50px;
                color: #eee;
                display: none;
              "
            >
              <svg
                width="26"
                height="24"
                viewBox="0 0 26 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <ellipse
                  cx="12.6542"
                  cy="12"
                  rx="12.6009"
                  ry="12"
                  fill="#149BFC"
                />
                <rect
                  width="3.06113"
                  height="15.3695"
                  rx="1"
                  transform="matrix(0.651691 0.758484 -0.788806 0.614642 19.9697 6)"
                  fill="white"
                />
                <rect
                  width="3.08898"
                  height="6.65707"
                  rx="1"
                  transform="matrix(0.780936 -0.624612 0.661447 0.749992 5.30371 12.9297)"
                  fill="white"
                />
              </svg>
            </div>
            <div
              class="alert alert-danger"
              id="showResult"
              role="alert"
              style="
                background-color: #313131;
                border-color: #313131;
                width: 110%;
                margin-left: 35%;
                height: 2vh;
                margin-top: 10%;
                height: 50px;
                color: #eee;
                display: none;
              "
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="12" cy="12" r="12" fill="#FF4040" />
                <rect
                  x="10.5"
                  y="3"
                  width="3"
                  height="13.5"
                  rx="1"
                  fill="white"
                />
                <rect
                  x="10.5"
                  y="18"
                  width="3"
                  height="3"
                  rx="1.5"
                  fill="white"
                />
              </svg>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md play-area-sub">
        <h3 style="margin-right: 17%">The Capture</h3>
        <div id="container">
          <canvas id="canvas"></canvas>
          <form method="POST" id="myForm">{% csrf_token %}</form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  (function () {
    const status = (response) => {
      if (response.status >= 200 && response.status < 300) {
        return Promise.resolve(response);
      }
      return Promise.reject(new Error(response.statusText));
    };

    const json = (response) => response.json();

    // The width and height of the captured photo. We will set the
    // width to the value defined here, but the height will be
    // calculated based on the aspect ratio of the input stream.

    var width = 405; // We will scale the photo width to this
    var height = 0; // This will be computed based on the input stream

    // |streaming| indicates whether or not we're currently streaming
    // video from the camera. Obviously, we start at false.

    var streaming = false;

    // The various HTML elements we need to configure or control. These
    // will be set by the startup() function.

    var video = null;
    var canvas = null;
    var startbutton = null;
    var data;

    function startup() {
      video = document.getElementById("video2");
      canvas = document.getElementById("canvas");
      startbutton = document.getElementById("startbutton");

      navigator.mediaDevices
        .getUserMedia({ video: true, audio: false })
        .then(function (stream) {
          video.srcObject = stream;
          video.play();
        })
        .catch(function (err) {
          console.log("An error occurred: " + err);
        });

      video.addEventListener(
        "canplay",
        function (ev) {
          if (!streaming) {
            height = video.videoHeight / (video.videoWidth / width);

            // Firefox currently has a bug where the height can't be read from
            // the video, so we will make assumptions if this happens.

            if (isNaN(height)) {
              height = width / (4 / 3);
            }
            video.setAttribute("width", width);
            video.setAttribute("height", height);
            canvas.setAttribute("width", width);
            canvas.setAttribute("height", height);
            streaming = true;
          }
        },
        false
      );

      startbutton.addEventListener(
        "click",
        function (e) {
          takepicture();
          e.preventDefault();
        },
        false
      );
    }

    // Capture a photo by fetching the current contents of the video
    // and drawing it into a canvas, then converting that to a PNG
    // format data URL. By drawing it on an offscreen canvas and then
    // drawing that to the screen, we can change its size and/or apply
    // other changes before drawing it.

    function takepicture() {
      var context = canvas.getContext("2d");
      if (width && height) {
        canvas.width = width;
        canvas.height = height;
        context.drawImage(video, 0, 0, width, height);
        var data = canvas.toDataURL("image/png");
      } else {
        console.log("No phot detected");
      }
      fdata = new FormData(document.getElementById("myForm"));
      var dataURI = data;
      var imageData = dataURItoBlob(dataURI);
      fdata.append("image", imageData, "{{ user.id|safe }}.png");
      fetch("/checkfacedata/", {
        method: "POST",
        body: fdata,
      })
        .then(status) // note that the `status` function is actually **called** here, and that it **returns a promise***
        .then(json) // likewise, the only difference here is that the `json` function here returns a promise that resolves with `data`
        .then((data) => {
          console.log(data);
          let save = document.getElementById("showResult");
          // ... which is why `data` shows up here as the first parameter to the anonymous function
          if (data.Success) {
            document.getElementById("showResult").innerHTML = data.Message;
            // save.style = "display:none;";
          } else {
            save.style = "display:block;";
            save.innerHTML = data.Message;
          }
        })
        .catch((error) => {
          console.log("Request failed", error);
        });
    }
    function dataURItoBlob(dataURI) {
      var byteString = atob(dataURI.split(",")[1]);
      var mimeString = dataURI.split(",")[0].split(":")[1].split(";")[0];
      var buffer = new ArrayBuffer(byteString.length);
      var data = new DataView(buffer);
      for (var i = 0; i < byteString.length; i++) {
        data.setUint8(i, byteString.charCodeAt(i));
      }
      return new Blob([buffer], { type: mimeString });
    }

    // Set up our event listener to run the startup process
    // once loading is complete.
    window.addEventListener("load", startup, false);
  })();
</script>

<link href="{% static 'frontend/css/pass.css' %}" rel="stylesheet" />
<div>
  <h1
    class="setpin"
    id="setpinmain"
    style="
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
      letter-spacing: 3px !important;
      font-family: 'Inter', sans-serif !important;
      margin-top: 5%;
      margin-left: 5%;
      color: #eee;
    "
  >
    Set Pin
  </h1>
  <p
    class="setpinp"
    style="color: #eee; margin-top: 2%; margin-left: 5%; width: 60%"
  >
    Logging-In with Pin is also be another easy and quick option that FLO-IN
    provides you with. Enter a Pin for easy access to websites using Pin
    Protection.
  </p>
  <div
    class="login"
    style="border-color: #181818; margin-top: 7%; border-radius: 1.5em"
  >
    <h5
      style="
        background-color: #000000;
        margin: 0;
        color: #eee;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 6%;
        text-align: center;
      "
    >
      Store your PIN
    </h5>
    <form
      autocomplete="off"
      id="PINform"
      style="
        background-color: #333;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      "
    >
      {% csrf_token %}
      <div
        class="alert alert-danger"
        id="showPINSuccessResult"
        role="alert"
        style="
          background-color: #313131;
          border-color: #313131;
          width: 110%;
          margin-left: 35%;
          height: 2vh;
          margin-top: 10%;
          height: 50px;
          color: #eee;
          display: none;
        "
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="12" cy="12" r="12" fill="#FF4040" />
          <rect x="10.5" y="3" width="3" height="13.5" rx="1" fill="white" />
          <rect x="10.5" y="18" width="3" height="3" rx="1.5" fill="white" />
        </svg>
      </div>
      <div
        id="showPINFailResult"
        class="alert alert-success"
        role="alert"
        style="
          background-color: #313131;
          border-color: #313131;
          width: 110%;
          margin-left: 35%;
          height: 2vh;
          margin-top: 10%;
          height: 50px;
          color: #eee;
          display: none;
        "
      >
        <svg
          width="26"
          height="24"
          viewBox="0 0 26 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <ellipse cx="12.6542" cy="12" rx="12.6009" ry="12" fill="#149BFC" />
          <rect
            width="3.06113"
            height="15.3695"
            rx="1"
            transform="matrix(0.651691 0.758484 -0.788806 0.614642 19.9697 6)"
            fill="white"
          />
          <rect
            width="3.08898"
            height="6.65707"
            rx="1"
            transform="matrix(0.780936 -0.624612 0.661447 0.749992 5.30371 12.9297)"
            fill="white"
          />
        </svg>
      </div>
      <input
        type="password"
        name="userInput"
        placeholder="Enter PIN"
        id="userInput"
        maxlength="4"
        style="background-color: #333; color: #fff; border-color: #007bff"
      /><button
        type="button"
        onclick="showPassword()"
        id="showpass"
        style="background-color: transparent; border-color: transparent"
      >
        <!-- <i id="eyeb" class="showpass fa fa-fw fa-eye-slash"></i> -->
        <i style="color: #eee" id="eyeb" class="fa">&#xf070;</i>
      </button>
      <span style="position: absolute; right: 8%; top: 35%"> </span>

      <p>
        <input
          type="password"
          name="userInput2"
          value=""
          placeholder="Confirm PIN"
          id="userInput2"
          maxlength="4"
          style="background-color: #333; color: #fff; border-color: #007bff"
        />
      </p>
      <span id="Message"></span>
      <button
        type="button"
        onclick="pincode()"
        class="btn btn-primary"
        style="width: 30%; font-size: revert; margin-left: 35%"
      >
        Confirm
      </button>
    </form>
  </div>
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
  $('#userInput, #userInput2').on('keyup', function () {
        if ($('#userInput').val() == $('#userInput2').val()) {
            $('#message').html('').css('color', '#eee');
        } else
            $('#message').html('pins do not match! ').css('color', '#eee');
    });
</script> -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script></script>
  <script src="{% static 'frontend/js/pin-login.js' %}"></script>
</div>
{%endblock%}
