.hero {
  padding: 100px 5% 15% 2%;
}

h2 {
  font-size: 20px;
  text-align: center;
}
h2 small {
  font-size: 0.5em;
}
.responsive-table li {
  border-radius: 5px;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
}
.responsive-table .table-header {
  background-color: #343148;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-align: left;
}
.responsive-table .table-row {
  background-color: #fff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.responsive-table .col-22 {
  flex-basis: 70%;
}
.responsive-table .col-33 {
  flex-basis: 60%;
}
.responsive-table .col-44 {
  flex-basis: 40%;
}

@media all and (max-width: 767px) {
  .responsive-table .table-header {
    display: none;
  }
  .responsive-table li {
    display: block;
  }
  .responsive-table .col {
    flex-basis: 100%;
  }
  .responsive-table .col {
    display: flex;
    padding: 10px 0;
  }
  .responsive-table .col:before {
    color: #6c7a89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #343148;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  /* margin: 5px; */
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
